.Header {
    background: antiquewhite;
    padding: 0 20px;
}

.wrapper{
    display: flex;
}

.nav{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.currentUser{
    width: 20%;
}

.postTitle{
    text-align: center;
}